
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

*~
*.a
*.d
*.o
*.e
*.bin
*.hex
*.map
*.png
*.log
*.elf
*.zip
*.pyc
*.ihex

build
build/*
serialdump-*
Makefile.target
Makefile.*.defines

# platform build artifacts
*.z1
*.zoul
*.native

# do not ignore platform makefiles
!Makefile.zoul
!Makefile.native

*.err
*.summary

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo
*.lib

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dll
*.dylib

# Executables
*.exe
*.out
*.app
*.hex
*.i*86
*.x86_64

# Debug files
*.su
*.idb
*.pdb
*.dSYM/

